/* SCSS HEX */
$electric-blue: #07e6f2ff;
$rich-black: rgba(18, 51, 78, 0.418);
$chamoisee: #977258ff;
$khaki: #b2a482ff;
$brown: #a15521ff;
$van-dyke: #49362bff;
$charcoal: #293f46ff;
$raisin-black: #272626ff;
$jet: rgb(29, 32, 34);
$caribbean-current: #41676dff;
$text-color: #c3c6c8ff;
