@import "./global";

/*=============================================
=            Global CSS            =
=============================================*/

body {
  background-color: $jet;
  color: $text-color;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  margin: auto;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
div {
  margin: 0;
  padding: 0;
}

.container {
  margin: 30px 50px;

  @include respond-to("lg") {
    width: 80%;
    margin: auto;
  }
  @include respond-to("xl") {
    width: 70%;
    margin: auto;
  }
}

/*=====  End of Global CSS  ======*/
